.chatbox{
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  background-color: bisque;
}
.me .chatbox{
  background-color: cadetblue;
}

.container{
  display: flex;
}
.container.me{
  flex-direction: row-reverse;
}

.btm{
  position: fixed;
  width: 100%;
  bottom: 2px;
  display: flex;
  flex-direction: row;
}
.btm input{
  padding: 10px 0;
  flex-grow: 1;
}
.btm button{
  padding: 10px 0;
}

.chat-container{
  height: 70vh;
  overflow-y:scroll;
  border: 1px solid black;
}
.btn{
  background-color: black;
  color: white;
  border-radius:10px;
  border: 1px solid white;
  cursor: pointer;
  padding: 30px;
  letter-spacing: 1px;
}